
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: lato;
}

body {
	background-color: rgb(231, 222, 106)
}
.btn{
	width: 160px;
	height: 55px;
	background-color: rgb(0, 31, 215);
	color: white;
	border: 1px solid rgb(255, 195, 182);
	border-radius: 10px;
	font-size: 22px;
	line-height: 54px;
	text-align: center;
	margin: 100px auto;
	font-weight: 700;
	cursor: pointer;
	transition: all 0.3s;
}
.btn:active{
	background-color: #FD3700;
}
#fidgetSpinner{
	width: 500px;
	height: 500px;
	border-radius: 100%;
	background-color: rgba(255,182,0,1.00);
	border: 1px solid purple;
	font-size: 75px;
	font-weight: 700;
	text-align: center;
	line-height: 198px;
	box-shadow: 0px 0px 8px 4px lime;
	margin: 150px auto;
	animation: aniset 1.5s 1s infinite ease-in-out;
	display: none;
}
@keyframes aniset{
	0%{
		transform: rotate(0deg);
	}
	20%{
		transform: rotate(100deg);
		background-color: #0dff00;
	}
	40%{
		transform: rotate(200deg);
		background-color: #ffb600;
	}
	60%{
		transform: rotate(360deg);
		background-color: #02FF00;
	}
	80%{
		transform: rotate(200deg);
		background-color: #7200ff;
	}
	100%{
		transform: rotate(0deg);
		background-color: #FF0057;
	}
}
